<%#the dealer's area%>
<div class="well" >
  <h4><%=@name%>'s Cards</h4>
     

    <%#Show the dealer's cards%>
    <% @player_images.each do |image_path|%>     
          <img src= "<%=image_path%>" style="margin: 0px 5px 5px 0px">
    <%end%>

    <%#Status update in case player previously stayed%>
     <%if @player_stayed== true%> 
     
      <h5>
        <%= @name%> stayed at <%=hand_total('player_cards')%>. <%=@name%> has $<%=@balance%> 
        and bet $<%=@bet_amount%> this round.  
      </h5>

    <%end%>

  </p>

</div>

